<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token() }}
    {{ form.author.label }}{{ form.author }}<br>
    {{ form.book.label }}{{ form.book }}<br>
    {{ form.submit }}<br>
    {# 显示消息闪现的内容 #}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>

<hr color="black">
{#for...else...如果for都执行完了，就会执行else语句；如果for没有执行完就退出了（break），那么就不执行else语句#}
<ul>
    {% for author in authors %}
        <li>{{ author.name }}<a href="{{ url_for("delete_author",author_id=author.id) }}">删除</a></li>
        <ul>
            {% for book in author.books %}
                <li>{{ book.name }}<a href="{{ url_for("delete_book",book_id=book.id) }}">删除</a></li>
            {% else %}
                <li>无</li>
            {% endfor %}
        </ul>
    {% endfor %}

</ul>
</body>
</html>